<ion-view view-title="Dublin Bike">
  <ion-content>
   
 <div class="card item-text-wrap" on-click="">
     
        <div class="item item-divider">  <h2>The Service</h2>  </div> 
    <div class="item">
    
     <br>

<p>
    <br>

Coca-Cola Zero dublinbikes stations are distributed throughout the city centre to enable easy access and optimal use. 
 <p>
Located in close proximity to each other, every station has a minimum of 15 stands in situ making it easy to enjoy the service.
<p>
<img src="img/bikes.jpg" style="float:left">
Coca-Cola Zero dublinbikes is a self-service bike rental system open to everyone from 14 years of age.
<p>
It enables you to travel through the city centre, commute between home and work and get out and about to enjoy Dublin city at your leisure.
<p>
All stations are equipped for Annual Card and 3 Day Ticket users. A number of credit card enabled terminals allow you to purchase a 3 Day Ticket.
<p>
Once purchased, you can use the 3 Day Ticket similar to the Annual Card to rent or return a bike from any station in the network.
<p>
You can enjoy the many benefits of an Annual Card for just €20. A 3 Day Ticket costs €5. The first 30 minutes of use is free on every bike.
<p>
After this first half-hour, a service charge applies. See here for pricing structure.
<p>


     <button class="button button-small" href="#\templates\newpost.html">Read More</button>
      
        
    
        
</div>
     
<br>
<br>
<br>

  <div class="card item-text-wrap">
        <div class="item item-divider"><h2>Bikes </h2></div>     
    <div class="item">
      
      
    
    <br>
 <img src="img/bike.jpg" style="float:left">
<p>
Coca-Cola Zero dublinbikes have been 
uniquely designed for Dublin city, 
designed with you in mind.
<p>
    <p>
        <br>
        <br>
        <br>
    
     <h3>  Comfort </h3>
 <p>
<br>
Unisex bikes suitable for all, 14 years and up
<p>
Simple and quick three gear change
<p>
Adjustable cushioned saddle
<p>
Large capacity durable front basket
<p>
Non-slip handlebars
<p>
Anti-splash front and rear mud guards
 <p>

     <br>
<h3>Safety</h3>
 <p>
<br>
Automatic rear and front lights, operating day and night
<p>
Reflective strips on wheels and pedals
<p>
Front and rear brakes integrated in wheel hubs
<p>
Chain guard
<p>
Easy to use bike rest
<p>
Finger touch bell
<p>
Anti Theft Lock
    </div>
    
</div>

 <br>
 <br>
 <br>
 
  <div class="card item-text-wrap">
      
   <div class="item item-divider"> <h2> Station Terminal</h2></div>
    <div class="item">
      
      
    <br>
 <p>
     <img src="img/terminal.png" style="float:left">
 <p>
 There is a terminal at every station. All terminals accept an Annual Card and a 3 Day Ticket.
 <p>
 A number of terminals have credit card facilities enabling you to purchase a 3 Day Ticket.
<p>
<br>
<h3>Terminals at all stations allow you to:</h3>
<p>
    <br>
select a bike
<p>
consult your account
<p>
view availability of bikes and stands at other stations
<p>
check the station map
<p>
locate a credit card enabled terminal
       
   
 </div>
 </div>      
       <br>
       <br>
       <br>

       <div class="card item-text-wrap">
        <div class="item item-divider">  <h2>  Stands</h2></div>     
    <div class="item">
    
     <br>
<img src="img/stand.png" style="float:left">
<p>
The stands are used to secure bikes by means of a locking system specifically designed for the service.
<p>
When you return your bike, an audio signal of 2 beeps and green indicator light will confirm when you have successfully locked the bike into the stand.<p>
 In the event of a problem, contact the Call Centre on 1850 777 070.
    </div>
    
</div>


 
  </ion-content>
</ion-view>
