<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
       
       <ion-item menu-close href="#/app/browse">
          About As
        </ion-item>
        
      <ion-item menu-close href="#/app/search">
          Map
        </ion-item>
        
         <ion-item menu-close ng-click="login()">
          My Account
        </ion-item>
        
         <ion-item menu-close href="#/app/playlists">
          My Journey
        </ion-item>
        
          <ion-item menu-close href="#/app/map">
          Bikes Stations
        </ion-item>
        
        
        
         <ion-item menu-close href="#/app/news">
          News
        </ion-item>
        
        
         <ion-item menu-close href="#/app/dash">
         Camera
        </ion-item>
        
       
       
        
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
