<ion-view view-title="News">
  <ion-content>
   
 <div class="card item-text-wrap" on-click="">
     
        <div class="item item-divider">  <h2>Coca-Cola Zero dublinbikes - latest figures</h2>  </div> 
    <div class="item">
 <img src="img/colabike.jpg" style="float:left">
 <p>
     <h3>
 Almost 60,000 people have signed up for annual membership to Coca-Cola Zero dublinbikes. View the latest figures here...
<p><br>
Current Valid Long Term Subscribers : 59,018
<p>
Short Term Subscribers (YTD) : 1,390
<p>
Journeys (YTD) : 609,350
<p>
Journeys (since launch) : 14,027,948
<p>
Average Duration of Journey (YTD) : 14 Minutes
<p>
Percentage of Journeys Free (YTD) : 96%
<p>
Busiest Usage Date Ever : 8/10/2015
<p>
Journeys on Busiest Day : 17,222
<p>
</h3>
        
</div>
     
<br>
<br>
<br>


     
        <div class="item item-divider">  <h2>Temporary Station Closure - Merrion Square East (25)</h2>  </div> 
    <div class="item">
 <img src="img/sind.jpg" style="float:left">
 <p>
     <h3>
 Merrion Square East (station 25) will be closed from Friday 29th April at approx. 6pm until Monday 2nd May at approx. 10am to facilitate the Gumball 3000 Rally being held in the city centre over the weekend.

<p><br><br><br><br><br><br>
During the event there may be restrictions in the areas of the following station:
<p>
James Street East
<p>
Grattan Street
<p>
Mount Street Lower
<p>
Herbert Place
<p>
Herbert Street
<p>
Please keep an eye on www.dublinbikes.ie for updates.
<p>

</h3>
        
</div>


<br>
<br>
<br>

     
        <div class="item item-divider">  <h2>
Dublin Remembers 1916 - 5k Race</h2>  </div> 
    <div class="item">
 <img src="img/sind.jpg" style="float:left">
 <p>
     <h3>
 There may be some disruption to Coca-Cola Zero dublinbikes stations on Sunday 24th April due to the Dublin Remembers 1916 5k race being held in the city centre.

<p><br><br><br><br><br><br>
The race starts at Mountjoy Square at 8am and will take in some of Dublin City’s most iconic sites such as the GPO, Liberty Hall, Rosie Hackett Bridge, the Four Courts and the Royal Hospital Kilmainham.
<p>
No stations will be closed, but access to some stations may be restricted during the race.
<p>

</h3>
        
</div>

<br><br><br>

        <div class="item item-divider">  <h2>
Coca-Cola Zero dublinbikes Service Disruption 29th Jan 2016</h2>  </div> 
    <div class="item">
 <img src="img/sind.jpg" style="float:left">
 <p>
     <h3>
 Due to an issue with an external data communications provider a number of Coca-Cola Zero dublinbikes stations have been disconnected from the network since opening this morning. Our data communications supplier is working on the issue with the aim of restoring service as soon as possible. We apologise for any inconvenience caused.
<p><br><br><br>
Please note Station 82, Mount Brown, will be closed to facilitate gas works.
<p>
Continue to check our website http://www.dublinbikes.ie for the latest updates.
<p>

</h3>
        
</div>
 
  </ion-content>
</ion-view>