<ion-view view-title="Map">
  <ion-content scroll="false">

  <map center="{{53.353462}},{{-6.265305}}" zoom="13" disable-default-u-i="true" >
      
    
      
      
  </map>
  
  
  
  
  </ion-content>
</ion-view>