
<ion-view view-title="Bike Stations">
  <ion-content scroll="false">

  <map center="{{dbs.lat}},{{dbs.lon}}" 
  zoom="12" 
  disable-default-u-i="true" 

   draggable="true"
    dragging-cursor="move"
    keyboard-shortcuts="true"
    map-type-id="TERRAIN"
  
  >
      
      <marker position = "{{[dbs.lat,dbs.lon]}}" ></marker>
      
      
      <marker clickable="true" 
              on-mousedown="showStationDetail(event, bikeStation)"
              ng-repeat="bikeStation in dbs.results" 
              position="{{[bikeStation.position.lat,bikeStation.position.lng]}}">
              
              <info-window id="BikeStationInfo">
                  
                  <div ng-nonbindable="">
                      <div class="contents">
                          <p>Location: {{dbs.currentBikeStation.name}}</p>
                          <p>Bikes Available: {{dbs.currentBikeStation.available_bikes}}</p>
                          <p>Stands Available: {{dbs.currentBikeStation.available_bike_stands}}</p>
                          <p><a class="button" href='#/app/journey'>Start</a>
                          
                          
                          
                      </div>
                      
                      
                      
                      
                      
                  </div>
                  
                  
                  
              </info-window>
              
              
              
              
              
              
      </marker>
      
      
      
      
  </map>
  
  
  
  
  </ion-content>
</ion-view>
